<h1>New Record Created</h1>
<table border="1">
<thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    </tr>
<thead>
    <tr>
        <td>
          <%= @article.Title %>
        </td>
        <td> 
          <%= @article.Description %>
        </td>
    </tr>
   
</table>

