<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navbar">
<nav class="navbar navbar-expand-md bg-dark">
 <a class="navbar-brand" href="#">AdminLTE</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <li class="nav-item">
         <%= link_to 'Register', users_new_user_path, class: "nav-link",id: "register"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', users_index_path, class: "nav-link"%>
        </li>
      </ul>
    </div>
</nav>
</div>
</body>
</html>

